
# IntelliJ project files
.idea
*.iml
# Scala
*.class
*.log
out/

# gradle
.gradle
/build/
!gradle-wrapper.jar
.gradletasknamecache

# Scala-IDE specific
.scala_dependencies
.worksheet

#Test
src/com/wiiaam/MarkovTest.scala

